@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 201, 209, 217;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 13, 17, 23;
}

body {
  background: #0d1117;
  color: #c9d1d9;
}